# Imports

In [1]:
import pandas as pd 
try:
    import polars as pl
except ImportError:
    import os
    os.system("pip install polars")
    import polars as pl

# Topics

## Polars Vs Pandas similar learnability
more python detailed files later to be found at [Polars](../Polars/)

## Reading csv

In [2]:
%%time 
pd_df = pd.read_csv("Dummy_Sales_Data_v1.csv",parse_dates=True,index_col="OrderDate")

CPU times: total: 0 ns
Wall time: 32.5 ms

In [3]:
%%time 
pl_df = pl.read_csv("Dummy_Sales_Data_v1.csv",try_parse_dates=True)

CPU times: total: 46.9 ms
Wall time: 122 ms

### Head , Tail , describe

In [4]:
print(pd_df.head())
print(pd_df.dtypes)

pd_df.rolling(2).sum("Quantity")

                        OrderID  Quantity  UnitPrice(USD)         Status  \
OrderDate
2021-08-08  2951110000999929511        92             238  Not Delivered
2021-10-03  2181910000999921819        61             136  Not Delivered
2021-09-27  3239110000999932391        67             235  Not Delivered
2021-07-30  1112610000999911126        33             133    Not Shipped
2021-08-15  1548310000999915483        13             189  Not Delivered

           Product_Category Sales_Manager  Shipping_Cost(USD)  \
OrderDate
2021-08-08       Healthcare         Pablo                  21
2021-10-03           Office         Pablo                  34
2021-09-27           Office       Kristen                  25
2021-07-30          Fashion         Abdul                  34
2021-08-15          Fashion        Stella                  24

            Delivery_Time(Days) Shipping_Address Product_Code  OrderCode
OrderDate
2021-08-08                 25.0        Singapore       HC-188     444116
2021-10-03                 14.0               UK        O-555     444772
2021-09-27                 11.0            Kenya        O-188     444666
2021-07-30                 24.0              USA        F-555     444007
2021-08-15                 19.0            Kenya        F-555     444223
OrderID                  int64
Quantity                 int64
UnitPrice(USD)           int64
Status                  object
Product_Category        object
Sales_Manager           object
Shipping_Cost(USD)       int64
Delivery_Time(Days)    float64
Shipping_Address        object
Product_Code            object
OrderCode                int64
dtype: object

,OrderID,Quantity,UnitPrice(USD),Shipping_Cost(USD),Delivery_Time(Days),OrderCode
OrderDate,,,,,,
2021-08-08,NaN,NaN,NaN,NaN,NaN,NaN
2021-10-03,5.133020e+18,153.0,374.0,55.0,39.0,888888.0
2021-09-27,5.421020e+18,128.0,371.0,59.0,25.0,889438.0
2021-07-30,4.351720e+18,100.0,368.0,59.0,35.0,888673.0
2021-08-15,2.660920e+18,46.0,322.0,58.0,43.0,888230.0
...,...,...,...,...,...,...
2021-10-16,4.664920e+18,157.0,317.0,53.0,26.0,889545.0
2021-10-03,4.149020e+18,112.0,336.0,50.0,37.0,889657.0
2021-11-13,4.233120e+18,118.0,342.0,59.0,41.0,889885.0
2021-12-23,4.667320e+18,99.0,324.0,51.0,42.0,890666.0
2021-07-12,3.749620e+18,71.0,346.0,47.0,36.0,889442.0

In [5]:
print(pl_df.head())
print(pl_df.dtypes)

# pl_df.rolling("Quantity",period="2d").agg(pl.sum("Quantity"))

shape: (5, 12)
┌───────────┬──────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ OrderID   ┆ Quantity ┆ UnitPrice ┆ Status    ┆ … ┆ Delivery_ ┆ Shipping_ ┆ Product_C ┆ OrderCode │
│ ---       ┆ ---      ┆ (USD)     ┆ ---       ┆   ┆ Time(Days ┆ Address   ┆ ode       ┆ ---       │
│ i64       ┆ i64      ┆ ---       ┆ str       ┆   ┆ )         ┆ ---       ┆ ---       ┆ i64       │
│           ┆          ┆ i64       ┆           ┆   ┆ ---       ┆ str       ┆ str       ┆           │
│           ┆          ┆           ┆           ┆   ┆ i64       ┆           ┆           ┆           │
╞═══════════╪══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 295111000 ┆ 92       ┆ 238       ┆ Not       ┆ … ┆ 25        ┆ Singapore ┆ HC-188    ┆ 444116    │
│ 099992951 ┆          ┆           ┆ Delivered ┆   ┆           ┆           ┆           ┆           │
│ 1         ┆          ┆           ┆           ┆   ┆           ┆           ┆           ┆           │
│ 218191000 ┆ 61       ┆ 136       ┆ Not       ┆ … ┆ 14        ┆ UK        ┆ O-555     ┆ 444772    │
│ 099992181 ┆          ┆           ┆ Delivered ┆   ┆           ┆           ┆           ┆           │
│ 9         ┆          ┆           ┆           ┆   ┆           ┆           ┆           ┆           │
│ 323911000 ┆ 67       ┆ 235       ┆ Not       ┆ … ┆ 11        ┆ Kenya     ┆ O-188     ┆ 444666    │
│ 099993239 ┆          ┆           ┆ Delivered ┆   ┆           ┆           ┆           ┆           │
│ 1         ┆          ┆           ┆           ┆   ┆           ┆           ┆           ┆           │
│ 111261000 ┆ 33       ┆ 133       ┆ Not       ┆ … ┆ 24        ┆ USA       ┆ F-555     ┆ 444007    │
│ 099991112 ┆          ┆           ┆ Shipped   ┆   ┆           ┆           ┆           ┆           │
│ 6         ┆          ┆           ┆           ┆   ┆           ┆           ┆           ┆           │
│ 154831000 ┆ 13       ┆ 189       ┆ Not       ┆ … ┆ 19        ┆ Kenya     ┆ F-555     ┆ 444223    │
│ 099991548 ┆          ┆           ┆ Delivered ┆   ┆           ┆           ┆           ┆           │
│ 3         ┆          ┆           ┆           ┆   ┆           ┆           ┆           ┆           │
└───────────┴──────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘
[Int64, Int64, Int64, String, Date, String, String, Int64, Int64, String, String, Int64]

### Selecting and Filtering

In [24]:
pd_df.loc[:,"OrderCode"]
pd_df.query("`Delivery_Time(Days)` > 10").head(2)

,OrderID,Quantity,UnitPrice(USD),Status,Product_Category,Sales_Manager,Shipping_Cost(USD),Delivery_Time(Days),Shipping_Address,Product_Code,OrderCode
OrderDate,,,,,,,,,,,
2021-08-08,2951110000999929511,92,238,Not Delivered,Healthcare,Pablo,21,25.0,Singapore,HC-188,444116
2021-10-03,2181910000999921819,61,136,Not Delivered,Office,Pablo,34,14.0,UK,O-555,444772

In [14]:
print(pl_df.select("OrderCode"))

pl_df.filter(pl.col("Delivery_Time(Days)") > 10).head(2)

shape: (9_999, 1)
┌───────────┐
│ OrderCode │
│ ---       │
│ i64       │
╞═══════════╡
│ 444116    │
│ 444772    │
│ 444666    │
│ 444007    │
│ 444223    │
│ …         │
│ 444885    │
│ 444772    │
│ 445113    │
│ 445553    │
│ 443889    │
└───────────┘

shape: (2, 12)
┌───────────┬──────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ OrderID   ┆ Quantity ┆ UnitPrice ┆ Status    ┆ … ┆ Delivery_ ┆ Shipping_ ┆ Product_C ┆ OrderCode │
│ ---       ┆ ---      ┆ (USD)     ┆ ---       ┆   ┆ Time(Days ┆ Address   ┆ ode       ┆ ---       │
│ i64       ┆ i64      ┆ ---       ┆ str       ┆   ┆ )         ┆ ---       ┆ ---       ┆ i64       │
│           ┆          ┆ i64       ┆           ┆   ┆ ---       ┆ str       ┆ str       ┆           │
│           ┆          ┆           ┆           ┆   ┆ i64       ┆           ┆           ┆           │
╞═══════════╪══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 295111000 ┆ 92       ┆ 238       ┆ Not       ┆ … ┆ 25        ┆ Singapore ┆ HC-188    ┆ 444116    │
│ 099992951 ┆          ┆           ┆ Delivered ┆   ┆           ┆           ┆           ┆           │
│ 1         ┆          ┆           ┆           ┆   ┆           ┆           ┆           ┆           │
│ 218191000 ┆ 61       ┆ 136       ┆ Not       ┆ … ┆ 14        ┆ UK        ┆ O-555     ┆ 444772    │
│ 099992181 ┆          ┆           ┆ Delivered ┆   ┆           ┆           ┆           ┆           │
│ 9         ┆          ┆           ┆           ┆   ┆           ┆           ┆           ┆           │
└───────────┴──────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

### assign Vs  with columns

In [12]:
pd_df.assign(
    Half_Shipping_Cost = lambda df: df["Shipping_Cost(USD)"] / 2,
).head(3)

,OrderID,Quantity,UnitPrice(USD),Status,Product_Category,Sales_Manager,Shipping_Cost(USD),Delivery_Time(Days),Shipping_Address,Product_Code,OrderCode,Half_Shipping_Cost
OrderDate,,,,,,,,,,,,
2021-08-08,2951110000999929511,92,238,Not Delivered,Healthcare,Pablo,21,25.0,Singapore,HC-188,444116,10.5
2021-10-03,2181910000999921819,61,136,Not Delivered,Office,Pablo,34,14.0,UK,O-555,444772,17.0
2021-09-27,3239110000999932391,67,235,Not Delivered,Office,Kristen,25,11.0,Kenya,O-188,444666,12.5

In [13]:
pl_df.with_columns([
    pl.col("Shipping_Cost(USD)") / 2
]).head(3)

shape: (3, 12)
┌───────────┬──────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ OrderID   ┆ Quantity ┆ UnitPrice ┆ Status    ┆ … ┆ Delivery_ ┆ Shipping_ ┆ Product_C ┆ OrderCode │
│ ---       ┆ ---      ┆ (USD)     ┆ ---       ┆   ┆ Time(Days ┆ Address   ┆ ode       ┆ ---       │
│ i64       ┆ i64      ┆ ---       ┆ str       ┆   ┆ )         ┆ ---       ┆ ---       ┆ i64       │
│           ┆          ┆ i64       ┆           ┆   ┆ ---       ┆ str       ┆ str       ┆           │
│           ┆          ┆           ┆           ┆   ┆ i64       ┆           ┆           ┆           │
╞═══════════╪══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 295111000 ┆ 92       ┆ 238       ┆ Not       ┆ … ┆ 25        ┆ Singapore ┆ HC-188    ┆ 444116    │
│ 099992951 ┆          ┆           ┆ Delivered ┆   ┆           ┆           ┆           ┆           │
│ 1         ┆          ┆           ┆           ┆   ┆           ┆           ┆           ┆           │
│ 218191000 ┆ 61       ┆ 136       ┆ Not       ┆ … ┆ 14        ┆ UK        ┆ O-555     ┆ 444772    │
│ 099992181 ┆          ┆           ┆ Delivered ┆   ┆           ┆           ┆           ┆           │
│ 9         ┆          ┆           ┆           ┆   ┆           ┆           ┆           ┆           │
│ 323911000 ┆ 67       ┆ 235       ┆ Not       ┆ … ┆ 11        ┆ Kenya     ┆ O-188     ┆ 444666    │
│ 099993239 ┆          ┆           ┆ Delivered ┆   ┆           ┆           ┆           ┆           │
│ 1         ┆          ┆           ┆           ┆   ┆           ┆           ┆           ┆           │
└───────────┴──────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

### with columns as group by

In [10]:
# with columns as ""15- Pandas_Chain_GroupBy_TS.ipynb"
df = pd.DataFrame({
    "class": ["a", "a", "a", "b", "b", "b", "b"],
    "score": ["80", "39", "67", "28", "77", "90", "44"],
})

df["score"] = df["score"].astype(int)

df['avg_score']  = df.groupby("class")["score"].transform("mean")

In [11]:
df = pl.DataFrame({
    "class": ["a", "a", "a", "b", "b", "b", "b"],
    "score": [80, 39, 67, 28, 77, 90, 44],
})

df.with_columns(
    pl.col("score").mean().over("class").alias("avg_score")
)

shape: (7, 3)
┌───────┬───────┬───────────┐
│ class ┆ score ┆ avg_score │
│ ---   ┆ ---   ┆ ---       │
│ str   ┆ i64   ┆ f64       │
╞═══════╪═══════╪═══════════╡
│ a     ┆ 80    ┆ 62.0      │
│ a     ┆ 39    ┆ 62.0      │
│ a     ┆ 67    ┆ 62.0      │
│ b     ┆ 28    ┆ 59.75     │
│ b     ┆ 77    ┆ 59.75     │
│ b     ┆ 90    ┆ 59.75     │
│ b     ┆ 44    ┆ 59.75     │
└───────┴───────┴───────────┘

### Piping

In [26]:
pd_df.rename(columns={"Shipping_Cost(USD)": "price"},inplace=True)
pd_df.head()

,OrderID,Quantity,UnitPrice(USD),Status,Product_Category,Sales_Manager,price,Delivery_Time(Days),Shipping_Address,Product_Code,OrderCode
OrderDate,,,,,,,,,,,
2021-08-08,2951110000999929511,92,238,Not Delivered,Healthcare,Pablo,21,25.0,Singapore,HC-188,444116
2021-10-03,2181910000999921819,61,136,Not Delivered,Office,Pablo,34,14.0,UK,O-555,444772
2021-09-27,3239110000999932391,67,235,Not Delivered,Office,Kristen,25,11.0,Kenya,O-188,444666
2021-07-30,1112610000999911126,33,133,Not Shipped,Fashion,Abdul,34,24.0,USA,F-555,444007
2021-08-15,1548310000999915483,13,189,Not Delivered,Fashion,Stella,24,19.0,Kenya,F-555,444223

In [27]:
def discount(df):
    df["30_percent_off"] = df["price"] * 0.7
    return df
def vat(df):
    df["vat"] = df["price"] * 0.14
    return df
def total_cost(df):
    df["total"] = df["30_percent_off"] + df["vat"]
    return df
(pd_df
 .pipe(discount)
 .pipe(vat)
 .pipe(total_cost)
)

,OrderID,Quantity,UnitPrice(USD),Status,Product_Category,Sales_Manager,price,Delivery_Time(Days),Shipping_Address,Product_Code,OrderCode,30_percent_off,vat,total
OrderDate,,,,,,,,,,,,,,
2021-08-08,2951110000999929511,92,238,Not Delivered,Healthcare,Pablo,21,25.0,Singapore,HC-188,444116,14.7,2.94,17.64
2021-10-03,2181910000999921819,61,136,Not Delivered,Office,Pablo,34,14.0,UK,O-555,444772,23.8,4.76,28.56
2021-09-27,3239110000999932391,67,235,Not Delivered,Office,Kristen,25,11.0,Kenya,O-188,444666,17.5,3.50,21.00
2021-07-30,1112610000999911126,33,133,Not Shipped,Fashion,Abdul,34,24.0,USA,F-555,444007,23.8,4.76,28.56
2021-08-15,1548310000999915483,13,189,Not Delivered,Fashion,Stella,24,19.0,Kenya,F-555,444223,16.8,3.36,20.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-10-16,2301610000999923016,75,201,Not Delivered,Home,Sofia,20,14.0,Kenya,H-555,444885,14.0,2.80,16.80
2021-10-03,1847410000999918474,37,135,Shipped,Healthcare,Maria,30,23.0,China,HC-901,444772,21.0,4.20,25.20
2021-11-13,2385710000999923857,81,207,Delivered,Office,Emma,29,18.0,USA,O-203,445113,20.3,4.06,24.36
2021-12-23,2281610000999922816,18,117,Shipped,Fashion,Stella,22,24.0,Italy,F-101,445553,15.4,3.08,18.48
2021-07-12,1468010000999914680,53,229,Delivered,Entertainment,Anthony,25,12.0,Singapore,ENT-630,443889,17.5,3.50,21.00

In [30]:
def discount(input_col):
    return pl.col(input_col).mul(0.7).alias("30_percent_off")
def vat(input_col):
    return pl.col(input_col).mul(0.2).alias("vat")
def total_cost(input_col1, input_col2):
    return pl.col(input_col1).add(pl.col(input_col2).alias("total"))
                                  
pl_df.with_columns(
    discount("Shipping_Cost(USD)"),
    vat("Shipping_Cost(USD)"),
    total_cost("30_percent_off", "vat"),
)

ColumnNotFoundError: 30_percent_off

Error originated just after this operation:
DF ["OrderID", "Quantity", "UnitPrice(USD)", "Status"]; PROJECT */12 COLUMNS; SELECTION: "None"